In [1]:
import pandas as pd
import numpy as np
import seaborn as sb

In [4]:
df=pd.read_csv('spotify_weekly_chart.csv')

In [5]:
df.head(10)

,Pos,P+,Artist,Title,Wks,Pk,(x?),Streams,Streams+,Total
0,1,+4,SZA,Kill Bill,4,1,(x1),41474366,1578141.0,160755788
1,2,+9,Sam Smith,Unholy,15,1,(x7),33132175,2872164.0,642800599
2,3,+12,Harry Styles,As It Was,40,1,(x11),30998084,3982809.0,1719435686
3,4,+16,David Guetta,I'm Good (Blue),19,2,(x4),30704256,7144547.0,541637842
4,5,+8,Metro Boomin,Creepin',5,3,(x1),28092232,381484.0,153469486
5,6,+10,Manuel Turizo,La Bachata,27,4,NaN,27357095,727736.0,667941457
6,7,+16,Taylor Swift,Anti,11,1,(x3),25446860,2514411.0,433960245
7,8,+13,Bizarrap,"Quevedo: Bzrp Music Sessions, Vol. 52",26,1,(x9),24450866,1064324.0,893857453
8,9,+10,Arcángel,La Jumpa,5,9,NaN,23899303,274370.0,122866197
9,10,+20,Bad Bunny,Me Porto Bonito,35,2,(x1),20585192,587528.0,1062970407

In [6]:
df.isnull().sum()

Pos           0
P+            0
Artist        0
Title         0
Wks           0
Pk            0
(x?)        163
Streams       0
Streams+     71
Total         0
dtype: int64

In [7]:
df.isnull().any()

Pos         False
P+          False
Artist      False
Title       False
Wks         False
Pk          False
(x?)         True
Streams     False
Streams+     True
Total       False
dtype: bool

In [8]:
df.dropna(inplace=True)

In [10]:
df.isnull().any()

Pos         False
P+          False
Artist      False
Title       False
Wks         False
Pk          False
(x?)        False
Streams     False
Streams+    False
Total       False
dtype: bool